.container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .container {
    padding: 50px;
  }
}

.canvas {
  box-shadow: 0px 0px 5px lightgrey;
  /* transform: scale(1, -1); */
  margin-bottom: 10px;
}

.select {
  margin-bottom: 10px;
}

.label {
  margin-bottom: 10px;
}

.pointInput {
  margin-left: 10px;
}
